.board {
    display: grid;
    position: relative;
    grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8,var(--tile-size));
    grid-template-rows: repeat(8,var(--tile-size));
    width: calc(8*var(--tile-size));
}
.tile{
    position: relative;
}
.tile--light {
    background-color: var(--light-tile);
}
.tile--dark {
    background-color: var(--dark-tile);
}
